# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
*/sess_*

# Configuration files
app/config/parameters.ini
.vagrant

# Temporary files
*.swp
*.swo
katas/*/vendor
katas/*/bin
katas/*/composer.phar
